body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1215px;
    height: 1720px;
    grid-gap: 50px;

}


#info{    
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(255, 200, 0);
    justify-content: space-between;
}
#portrait{
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myself{
    width: 225px;
    height: 225px;
    border-radius: 125px;
}
.infoTitle{
    margin: 5px 0;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    color: rgb(255, 200, 0);
    background-color: rgb(50, 50, 50);
}
.infop{
    margin: 10px 0;
    padding: 10px 20px;
}
#HOBBIES{
    height: 120px;
    padding: 0 40px;
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
#misc{
    width: 65px;
    height: 65px;
    border-radius: 125px;
}


#life{
    display: flex;
    flex-flow: column nowrap;
}
h1{
    font-size: 60px;
    margin: 0;
}
#name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 315px;
}
#FirstName{
    color: rgb(255, 200, 0);
}
#job{
    font-size: 24px;
    margin: 0;
    top: 5px;
}
#under{
    border: 0 0 0 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 200, 0);
}
.lifeTitle{
    margin: 5px 0;
    font-size: 26px;
    padding: 10px;
}
hr{
    width: 100%;
}
.lifeinfo{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
}
.listfig{ color: rgb(255, 200, 0); }
.listfig2{
    color: rgb(255, 200, 0);
    list-style-type: none;
}
.listcon{ color: black; }
.DetailTitle{
    font-size: 21px;
    font-weight: 550;
    margin-bottom: 0;
}

#ref{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}